.apartments {
  position: relative;
  &::before {
    content: 'III';
    top: -75px;
    right: calc(50% + 555px);
    transform: translate(50%, 0);
    @include decorNumber;
  }
}
.apartments__title {
  margin-bottom: 95px;
  margin-left: 1px;
  @include mediaTabled {
    margin-bottom: 45px;
  }
}

.apartmemt__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @include mediaTabled {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
