.benefits {
  overflow: hidden;
  position: relative;
  padding: 120px 0;

  &::after {
    content: 'II';
    top: -28px;
    left: calc(50% + 550px);
    transform: translate(-50%, 0);
    @include decorNumber;
  }
}
.benefits__row {
  display: flex;
  align-content: center;
  gap: 70px;

  @include mediaTabled {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    justify-items: center;
    gap: 40px 30px;
  }
}
.benefits__item1,
.benefits__item2,
.benefits__item3,
.benefits__item4 {
  text-align: center;
}
.benefits__item1 {
  width: 193px;
}
.benefits__item2 {
  width: 133px;
}
.benefits__item3 {
  width: 134px;
}
.benefits__item4 {
  width: 124px;
}
.benefits__img {
  margin-bottom: 53px;
  @include mediaTabled {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}
.benefits__text {
  font-family: $font-secondary;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;

  @include mediaTabled {
    font-size: 16px;
  }
}
