.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    z-index: 6;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, $dark 100%);
  }

  &::after {
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 7;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px double $accent;
    transition: opacity 0.2s ease-in;
  }

  &:hover::after {
    opacity: 1;
  }
}
.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}
.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.card__title {
  position: absolute;
  z-index: 8;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  @include mediaTabled {
    font-size: 20px;
    left: 30px;
    bottom: 25px;
  }
}
