.info {
  position: relative;
  font-size: 18px;

  &--map,
  &--phone {
    padding-left: calc(14px + 21px);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 21px;
      height: 21px;
      transform: translate(0%, -50%);
      background-position: center;
    }
  }

  @include mediaTabled {
    font-size: 14px;
    &--map,
    &--phone {
      padding-left: 25px;
    }
  }

  &--map::before {
    background-image: url('./../image/header/map.svg');
  }

  &--phone::before {
    background-image: url('./../image/header/phone.svg');
  }
}
