.section-map {
  position: relative;
  padding: 180px 0;
  &::before {
    content: 'V';
    top: 110px;
    right: calc(50% + 560px);
    transform: translate(50%, 0);
    @include decorNumber;
  }
}
.section-map__title {
  padding-top: 7px;
  margin-bottom: 94px;
}
.map {
  height: 358px;
  background-color: #626262;
}
